.heading
{
font-size:25px;
width:100%;
margin:0px;
background-color:lightpink;
}

.note
{
font-size:15px;
color:black;
}

body
{
background-color:lightskyblue;
}

.div_speed
{
float:left;
}

#div_speed_img
{
width:200px;
border-radius:40px;
}

.div_volume
{
float:right;
}

#div_volume_img
{
width:200px;
border-radius:40px;
}